.App {
  text-align: center;

}

body {
  background-image: url('https://img.freepik.com/free-psd/shopping-vertical-background_23-2150409471.jpg?t=st=1683931935~exp=1683932535~hmac=58d6e375a959687c795f119e2e54f4badcb92271ad0ced21f57cf144e545dc91');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    /* filter: brightness(60%); */
}
